---
import Base from "../../layouts/Base.astro";
---
<Base>
    <section class="bgImg text-gray-300 h-40 w-full">
        <div class="overlay1 w-full">
            <p class="text-center hero-text1">Expand your international workforce</p>
            <p class="text-center hero-text2">Navigate the path to success with Us</p>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
		<div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-12 lg:px-6">
			<div class="mx-auto max-w-screen-xl">
                <p class="uppercase text-center text-[#ea580c] text-sm font-light mb-6">introduction of eor</p>
				<h2 class="uppercase text-center mb-4 text-2xl font-normal tracking-tight leading-tight text-gray-900 dark:text-white">What is EOR ?</h2>
				
				<p class="text-left mb-6 text-sm font-light text-gray-500 sm:text-lg">Employment of Record (EOR) is a smart way for companies to manage their workforce. It's like a partnership between a company and a special group that becomes the official employer for a specific set of workers. The EOR takes care of the legal parts of employment, like payroll, taxes, and benefits, while the company stays in charge of what the employees do every day.
                    The EOR handles lots of HR tasks: paying people, following tax rules, managing contracts, and making sure everything complies with the law. 
                    This lets the company focus on its main work while trusting the EOR with all the details of employment.
                    </p>
			</div>
		</div>
	</section>

    <!-- Benefits of EOR -->
    <div class="bg-gray-50 py-6">
		<div class="container my-6 mx-auto md:px-6">
		
			<section class="mb-12 text-center">
			  <div class="flex justify-center">
				<div class="max-w-xl text-center mb-6">
				<p class="uppercase text-[#ea580c] text-sm font-semibold mb-2">Benefits</p>
				  <h2 class="mb-6 text-center text-xl font-medium uppercase">
					Unlock the Benefits of EOR Partnership
				  </h2>
				  
				</div>
			  </div>
		  
			  <div class="grid gap-x-6 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-12">
				<div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
				  <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
	
					<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
						<path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
					  </svg>
					  
				  </div>
				  <h5 class="mb-4 text-sm font-medium text-gray-100">Faster Business Expansion</h5>
				  <p class="text-gray-200 text-xs font-normal">
					Laudantium totam quas cumque pariatur at doloremque hic quos quia
					eius. Reiciendis optio minus mollitia rerum labore
				  </p>
				</div>

                <div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
                    <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
      
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        
                    </div>
                    <h5 class="mb-4 text-sm font-medium text-gray-100">Global Expansion Made Easy</h5>
                    <p class="text-gray-200 text-xs font-normal">
                      Laudantium totam quas cumque pariatur at doloremque hic quos quia
                      eius. Reiciendis optio minus mollitia rerum labore
                    </p>
                  </div>

                  <div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
                    <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
      
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        
                    </div>
                    <h5 class="mb-4 text-sm font-medium text-gray-100">Flexibility</h5>
                    <p class="text-gray-200 text-xs font-normal">
                      Laudantium totam quas cumque pariatur at doloremque hic quos quia
                      eius. Reiciendis optio minus mollitia rerum labore
                    </p>
                  </div>

                  <div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
                    <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
      
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        
                    </div>
                    <h5 class="mb-4 text-sm font-medium text-gray-100">Efficiency and Accuracy</h5>
                    <p class="text-gray-200 text-xs font-normal">
                      Laudantium totam quas cumque pariatur at doloremque hic quos quia
                      eius. Reiciendis optio minus mollitia rerum labore
                    </p>
                  </div>

                  <div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
                    <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
      
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        
                    </div>
                    <h5 class="mb-4 text-sm font-medium text-gray-100">Compliance Assurance</h5>
                    <p class="text-gray-200 text-xs font-normal">
                      Laudantium totam quas cumque pariatur at doloremque hic quos quia
                      eius. Reiciendis optio minus mollitia rerum labore
                    </p>
                  </div>

                  <div class="mb-6 lg:mb-6 text-left bg-[#E66B1C] p-4 rounded-md">
                    <div class="mb-6 inline-block rounded-full bg-white p-4 text-[#E66B1C] shadow-sm">
      
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        
                    </div>
                    <h5 class="mb-4 text-sm font-medium text-gray-100">Risk Mitigation</h5>
                    <p class="text-gray-200 text-xs font-normal">
                      Laudantium totam quas cumque pariatur at doloremque hic quos quia
                      eius. Reiciendis optio minus mollitia rerum labore
                    </p>
                  </div>
				
			  </div>
			</section>
		
		</div>
	</div>

    <!-- Hire Everywhere -->
    <section class="bg-white">
     
        <div class="max-w-2xl mx-auto mb-4 mt-12 text-center">
            <p class="text-[#ea580c] text-sm uppercase mb-4">Hire everywhere</p>
            <h2 class="mb-4 text-2xl tracking-tight font-normal text-gray-900 uppercase">exceptional global team 
                with our support</h2>
            <p class="mb-5 font-light text-sm text-gray-900">We prioritize your peace of mind in global employee hiring, ensuring a smooth and stress-free process. Your satisfaction comes first, and we are committed to going the extra mile for you</p>
        </div>
        <div class="gap-8 items-center py-4 px-4 mx-auto max-w-screen-2xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
           
            <div class="mt-4 md:mt-0">
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
            </div>
            <img class="w-full dark:hidden rounded-xl" src="https://source.unsplash.com/random/768x900" alt="dashboard image">
            <img class="w-full hidden dark:block rounded-xl" src=" https://source.unsplash.com/random/768x900" alt="dashboard image">
        </div>
    </section>

    <section class="bg-white ">
        <div class="gap-8 items-center py-4 px-4 mx-auto max-w-screen-2xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden rounded-xl" src="https://source.unsplash.com/random/768x900" alt="dashboard image">
            <img class="w-full hidden dark:block rounded-xl" src=" https://source.unsplash.com/random/768x900" alt="dashboard image">
            <div class="mt-4 md:mt-0">
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
            </div>
          
        </div>
    </section>


    <section class="py-12">
        <div class="bg-[#001822] rounded-lg container mx-auto flex flex-col justify-center p-16 ">
            <div class=" flex flex-col space-y-4 text-center lg:text-left">
                <h1 class="text-gray-100 lg:text-3xl sm:text-lg font-medium leadi">Unlock a wide range of ability available within just a click away!</h1>
                <p class="text-gray-300 lg:text-sm sm:text-sm font-medium">"Discover a wealth of talent at your fingertips with just a click.</p>
                <p class="text-gray-300 lg:text-sm sm:text-sm font-medium">Unlock a diverse range of abilities, skills, and expertise effortlessly, opening doors to a world of possibilities”</p>
                
                <a href="/contact-us" type="button" class="text-center lg:w-2/12 sm:w-12  relative rounded-sm bg-[#ea580c] p-2 text-gray-200  text-xs  font-sm">
                    Contact Us</a>
            </div>
            <!-- <div class="flex flex-row items-center self-center justify-center flex-shrink-0 shadow-md lg:justify-end">
                <div class="flex flex-row">
                    <input type="text" placeholder="example@email.com" class="w-3/5 p-3 rounded-l-lg sm:w-2/3">
                    <button type="button" class="w-2/5 p-3 font-semibold rounded-r-lg sm:w-1/3 dark:bg-violet-400 dark:text-gray-900">Subscribe</button>
                </div>
            </div> -->
        </div>
    </section>

  

    <style>
	
		.bgImg{
		  background-image: url('https://image.boxrox.com/2023/05/Laptop-sitting.jpg');
		
		background-size: cover;
		background-position: center;
		height: 40vh;
		border-bottom-left-radius: 100px; 
	  border-bottom-right-radius: 100px;
		
		}
		.overlay1 {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color:#0a4b5be2; /* Adjust the color and transparency as needed */
	  border-bottom-left-radius: 100px; 
	  border-bottom-right-radius: 100px;
	}
	
	/* .overlay1::after{
		content: "Expand your international workforce";
		display: block; 
	  font-style: italic; 
	  color: white; 
	  position: absolute;
	  font-size: 30px;
	 text-transform: uppercase;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  
	} */
	.overlay2 {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	 
	  border-bottom-left-radius: 100px; 
	  border-bottom-right-radius: 100px;
	}

    .hero-text1{
	  display: block; /* Ensures the content is on a new line */
	  color: rgb(228, 228, 228); 
	  position: absolute;
      font-weight: 500;
	  font-size: 25px;
	  top: 35%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    }
    .hero-text2{
       display: block; 
     color: white; 
     position: absolute;
     font-size: 30px;
    text-transform: uppercase;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   @media (max-width: 640px) { 
    .hero-text1{
	  display: block; /* Ensures the content is on a new line */
	  color: rgb(228, 228, 228); 
	  position: absolute;
      font-weight: 500;
	  font-size: 15px;
	  top: 35%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    }
    .hero-text2{
       display: block; 
     color: white; 
     position: absolute;
     font-size: 20px;
    text-transform: uppercase;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
    }
	</style>
</Base>
