---
import Base from "../../layouts/Base.astro";
---

<Base>
     <!-- Hero -->
     <section class="bgImg text-gray-300 h-40 w-full mb-6">
        <div class="overlay1 w-full">
            <p class="text-center hero-text1">Effortlessly hire, pay, and support 
                global workers with 
                our comprehensive solutions.</p>
            <p class="text-center hero-text2">Our streamlined solutions handle the intricacies of international employment, ensuring seamless processes from recruitment to payroll.</p>
            <div class="overlay2 flex flex-row">
                <div class="px-4 py-4 mx-auto width-1/3">
                    <p class="text-sm font-light text-orange-500 mb-3">Initial Agreement</p>
                    <p class="text-xs font-thin text-gray-700">The journey commences with the establishment of a comprehensive agreement between organization and ours. This agreement sets the stage, the terms of our collaboration.
                    </p>
                </div>
                <div class="px-4 py-4 mx-auto width-1/3">
                    <p class="text-sm font-light text-orange-500 mb-3">Employee Selection</p>
                    <p class="text-xs font-thin text-gray-700">The journey commences with the establishment of a comprehensive agreement between organization and ours. This agreement sets the stage, the terms of our collaboration.
                    </p>
                </div>
                <div class="px-4 py-4 mx-auto width-1/3">
                    <p class="text-sm font-light text-orange-500 mb-3">Compliance Assurance</p>
                    <p class="text-xs font-thin text-gray-700">The journey commences with the establishment of a comprehensive agreement between organization and ours. This agreement sets the stage, the terms of our collaboration.
                    </p>
                </div>
            </div>
        </div>
        
    </section>
    <!-- <section class="">
        <div class="bg-violet-400">
            <div class="container flex flex-col items-stratch px-4 py-12 pb-12 mx-auto text-center lg:pb-12 md:py-12 md:px-10 lg:px-32 dark:text-gray-900">
                <h1 class="text-xl font-normal sm:text-3xl xl:max-w-3xl uppercase">Effortlessly hire, pay, and support 
                    global workers with 
                    our comprehensive solutions.</h1>
                <p class="mt-6 mb-8 text-sm sm:mb-12 xl:max-w-3xl dark:text-gray-900">Our streamlined solutions handle the intricacies of international employment, ensuring seamless processes from recruitment to payroll.</p>
               
            </div>
        </div>
        <img src="https://source.unsplash.com/random/480x320" alt="" class="w-5/6 mx-auto mb-12 mt-80 rounded-lg shadow-md lg:-mt-40 dark:bg-gray-500">
    </section> -->

    <section class="bg-white dark:bg-gray-900 mt-44">
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden rounded-xl" src="https://source.unsplash.com/random/478x508" alt="dashboard image">
            <img class="w-full hidden dark:block rounded-xl" src="https://source.unsplash.com/random/478x508" alt="dashboard image">
            <div class="mt-4 md:mt-0">
               
                <h2 class="mb-4 text-2xl tracking-tight font-normal text-gray-900 uppercase">Tapping into fresh talent 
                    in global markets is more straightforward than you realize</h2>
                <p class="mb-6 lg:text-base font-light text-gray-500 md:text-lg">Our simplified procedures and dedicated assistance make the process of expanding your workforce across borders surprisingly accessible. From addressing local regulations to engaging with diverse talent pools, we streamline the intricacies, ensuring that your venture into new markets is not only feasible but also remarkably uncomplicated.</p>
                
            </div>
        </div>
    </section>

    <!-- Unlock the Benefits of EOR Partnership -->
    <section class="m-4 md:m-8 dark:bg-gray-800 ">
        <div class="container p-4 mx-auto my-6 space-y-1 text-center">
            
            <h2 class="pb-3 text-2xl font-light uppercase">Unlock the Benefits of 
                EOR Partnership</h2>
            
        </div>
        <div class="container grid justify-center gap-4 mx-auto lg:grid-cols-3">
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">01</h2>
                <h2 class="mb-2 text-base font-semibold">Define the Roles:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Clearly outline the responsibilities, qualifications, and expectations for the position.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">02</h2>
                <h2 class="mb-2 text-base font-semibold">Create Job Listing:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Craft a compelling job listing that accurately reflects the role and attracts suitable candidates.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">03</h2>
                <h2 class="mb-2 text-base font-semibold">Post Job Opening:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Utilize job boards, company websites, and social media to post the job opening</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">04</h2>
                <h2 class="mb-2 text-base font-semibold">Review Resumes:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Screen resumes to shortlist candidates based on their qualifications and experience.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">05</h2>
                <h2 class="mb-2 text-base font-semibold">Conduct Interviews:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Schedule and conduct interviews to assess candidates' skills, cultural fit, and suitability for the role.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">06</h2>
                <h2 class="mb-2 text-base font-semibold">Make a Job Offer:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Extend a job offer to the selected candidate, including details such as salary, benefits, and start date.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">07</h2>
                <h2 class="mb-2 text-base font-semibold">Background Check:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Conduct a background check to verify the candidate's work history, criminal record, and other relevant details.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">08</h2>
                <h2 class="mb-2 text-base font-semibold">Complete Onboarding:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Facilitate the onboarding process, including paperwork, orientation, and introduction to company policies.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">09</h2>
                <h2 class="mb-2 text-base font-semibold">Provide Training:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Offer necessary training to help the new employee become familiar with their role and the company.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">10</h2>
                <h2 class="mb-2 text-base font-semibold">Set Up Payroll:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Arrange for the new employee to be added to the payroll system, ensuring timely and accurate compensation.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">11</h2>
                <h2 class="mb-2 text-base font-semibold">Integrate into the Team:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Foster a smooth integration by introducing the new employee to team members and company culture.</p>
            </div>
            <div class="flex flex-col px-8 py-6 w-full">
                <h2 class="mb-2 text-lg font-bold text-orange-500">12</h2>
                <h2 class="mb-2 text-base font-semibold">Check References:</h2>
                <p class="flex-1 mb-4 text-sm font-light">Verify candidates' qualifications and past performance by checking references.</p>
            </div>
            
        </div>
    </section>
    <style>
	
		.bgImg{
		  background-image: url('https://image.boxrox.com/2023/05/Laptop-sitting.jpg');
		
		background-size: cover;
		background-position: center;
		height: 50vh;
	
		
		}
		.overlay1 {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color:#001822c4; /* Adjust the color and transparency as needed */
	
	}
	
	/* .overlay1::after{
		content: "Expand your international workforce";
		display: block; 
	  font-style: italic; 
	  color: white; 
	  position: absolute;
	  font-size: 30px;
	 text-transform: uppercase;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  
	} */
	.overlay2 {
        padding: auto;
	  position: relative;
	  top: 80%;
	  left: 15%;
	  width: 70%;
	  height: 60%;
      background-color: #E6E8E9;
    border-radius: 20px;
   

	}

    .hero-text1{
	  display: block; /* Ensures the content is on a new line */
	  color: white; 
	  position: absolute;
      font-weight: 500;
	  font-size: 30px;
      text-transform: uppercase;
	  top: 35%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    }
    .hero-text2{
       display: block; 
     color: #c2c2c2; 
     position: absolute;
     font-size:15px;
    text-transform: uppercase;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   @media (max-width: 640px) { 
    .hero-text1{
	  display: block; /* Ensures the content is on a new line */
	  color: #E66B1C; 
	  position: absolute;
      font-weight: 500;
	  font-size: 20px;
	  top: 30%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    }
    .hero-text2{
       display: block; 
       color: #3f4547; 
     position: absolute;
     font-size: 13px;
    text-transform: uppercase;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
    }
	</style>
</Base>