---
import Base from "../../layouts/Base.astro";
---

<Base>
    <!-- <section class="px-12 mt-24 mx-auto">
        <div class="p-6 sm:p-12 bg-gray-200 dark:text-gray-100">
    
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
               
                <div class="flex flex-col">
                    <h4 class="text-lg font-semibold text-center md:text-left">Leroy Jenkins</h4>
                    <p class="dark:text-gray-400">Sed non nibh iaculis, posuere diam vitae, consectetur neque. Integer velit ligula, semper sed nisl in, cursus commodo elit. Pellentesque sit amet mi luctus ligula euismod lobortis ultricies et nibh.</p>
                </div>
                <img src="https://source.unsplash.com/500x600/?portrait" alt="" class="self-center flex-shrink-0 w-3/12 h-full border  md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
            </div>
        </div>
    </section> -->
    <section class="bg-white mt-24">
        <div class="bg-gray-400 gap-8 items-center py-8 px-12 mx-auto max-w-screen-2xl rounded-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-12">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Let's create more tools and ideas that brings us together.</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Flowbite helps you connect with friends and communities of people who share your interests. Connecting with your friends and family as well as discovering new ones is easy with features like Groups.</p>
                <a href="#" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                    Get started
                    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <img class="w-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg" alt="dashboard image">
            <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image">
        </div>
    </section>
    <section class="py-6 bg-white dark:text-gray-50">
        <div class="gap-3 container mx-auto flex flex-col items-center justify-center max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row">
            <div class="bg-gray-200 flex flex-col items-center justify-center flex-1 p-4 pb-8 sm:p-8 lg:p-16 dark:bg-gray-900">
                <span class="text-sm">Basic</span>
                <p class="text-5xl font-bold text-center">39€</p>
                <p class="font-semibold text-center">Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?</p>
                <button class="px-8 py-3 mt-6 text-lg font-semibold border rounded sm:mt-12 dark:border-gray-700">Sign up</button>
            </div>
            <div class="bg-gray-200 flex flex-col items-center justify-center flex-1 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 dark:bg-violet-400 dark:text-gray-900">
                <span class="text-sm font-semibold">Advanced</span>
                <p class="text-5xl font-bold">89€</p>
                <p class="font-semibold">Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?</p>
                <button class="px-8 py-3 mt-6 text-lg font-semibold rounded sm:mt-12 dark:bg-gray-800 dark:text-gray-50">Sign up</button>
            </div>
        </div>
    </section>
    <section class="bg-white">
     
        <div class="max-w-2xl mx-auto mb-4 mt-12 text-center">
            <p class="text-[#ea580c] text-sm uppercase mb-4">Hire everywhere</p>
            <h2 class="mb-4 text-2xl tracking-tight font-normal text-gray-900 uppercase">exceptional global team 
                with our support</h2>
            <p class="mb-5 font-light text-sm text-gray-900">We prioritize your peace of mind in global employee hiring, ensuring a smooth and stress-free process. Your satisfaction comes first, and we are committed to going the extra mile for you</p>
        </div>
        <div class="gap-8 items-center py-4 px-4 mx-auto max-w-screen-2xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
           
            <div class="mt-4 md:mt-0">
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
                <div class="flex space-x-2 sm:space-x-4 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                    </svg>
                    <div class="space-y-2">
                        <p class="text-lg font-medium leadi">Diversify and strengthen 
                            your talent pool by expanding globally</p>
                        <p class="text-sm font-medium text-gray-500"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eum. Ab architecto quae ad! Beatae voluptatibus quaerat explicabo. Totam suscipit eaque corporis doloremque laudantium harum nostrum ullam labore quas reprehenderit.</p>
                    </div>
                </div>
            </div>
            <img class="w-full dark:hidden rounded-xl" src="https://source.unsplash.com/random/768x900" alt="dashboard image">
            <img class="w-full hidden dark:block rounded-xl" src=" https://source.unsplash.com/random/768x900" alt="dashboard image">
        </div>
    </section>
</Base>