---
import Base from "../layouts/Base.astro";
---
<Base>
    <div class="grid grid-cols-12">
        <div class="lg:grid-col-8 sm:grid-col-12">
            Blog Detail
        </div>
        <div class="lg:grid-col-4 sm:grid-col-12">
            Related Post
        </div>
    </div>
</Base>