---
import Base from "../layouts/Base.astro";

import { Image } from 'astro:assets';
import WORK from "../images/WORK.png";

---

<Base>
	<!-- Hero Section Start -->
	<div class="bgImg">
		  <div class="lg:mx-auto sm:mx-6 max-w-2xl py-32 sm:py-48 lg:py-56 relative lg:top-[-120px] sm:top-[-100px]">
			<div class="sm:mb-8 sm:flex sm:justify-center ">
			  <p class="text-[#ea580c] font-semibold text-center"> Step into the world of PLUS WORK</p>
			</div>
			<div class="text-center">
			  <h1 class="text-4xl font-bold tracking-tight text-gray-100 sm:text-5xl">Empowering Remote Excellence</h1>
			  <p class="mt-6 text-sm leading-6 text-gray-400">Let our Remote Worker Solutions be your gateway</p>
			  <p class=" text-sm leading-6 text-gray-400">to a new dimension of professional fulfillment.</p>
			  <p class=" text-sm leading-6 text-gray-400">   Welcome to a world where hiring is an art, and your success is our masterpiece.</p>
			</div>
			<div class="text-center">

			<button id="openModalButton" class="bg-gray-100 mt-8 rounded-full  px-4 py-2">
				<svg class="ml-1 w-6 h-8 bg-dark text-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
					<path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
				</svg>
			</button>

	<div class="relative z-10" role="dialog" aria-modal="true">
	<div id="videoModal" class="hidden fixed inset-0 z-10 w-screen overflow-y-auto">
	  <div class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-2">
		
		<div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl">
		  <div class="mt-6 relative flex w-full items-center overflow-hidden bg-gray-200 shadow-2xl rounded-lg">
			
			<button id="closeModalButton" type="button" class="absolute right-8 top-4 text-[#ea580c] hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
				<span class="sr-only">Close</span>
				<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
				  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			  </button>
			<div class="w-full h-96">
				<iframe class="w-full h-96" src="https://www.youtube.com/embed/j5-yKhDd64s?si=QzoC4DvfOLXQkvob" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div>
	  
	</div>
	
  </div>

  
			</div>
		  </div>
		
	</div>
	<!-- Hero Section End -->

	<!-- We Are Plus Impact Section Start -->
	<div class="bg-gray-50 w-full px-4 py-2  mx-auto">
		<div class="container my-12 mx-auto md:px-6 ">
			<section class="mb-20 mt-8 text-center lg:text-left bg-gray-50">
			  <div class="px-6  md:px-12">
				<div class="grid items-center lg:grid-cols-2 lg:gap-x-12">
				  
				  <div class="mb-12 lg:mb-0">
					<p class="text-xs uppercase text-gray-500">Hello,</p>
					<h2 class="mt-5 text-2xl font-light leading-tight tracking-tight text-gray-600">
					  We are  
					  <span class=" text-gray-900 font-semibold dark:text-success-400">PLUS WORK</span>
					</h2>
					<img src={WORK.src} class="w-48 h-22 lg:ml-16 sm:ml-0  mt-10" alt="">
				  </div>
		  
				  <div class="mb-12 lg:mb-0 w-full">
					<p class="text-xs font-thin text-gray-700">Welcome to <span class="font-bold">PLUS WORK</span>, where Global Talent meets borderless opportunities. We specialize in connecting top-tier talent with exceptional opportunities worldwide. Our unique offerings serve the needs of remote workers, providing a platform that crosses borders.  Our diverse community of skilled professionals, where expertise knows no borders, and together, let's redefine the future of remote work. 
						Join us in shaping the future of work, where distance is no longer a barrier to success.</p>
						<button class="flex gap-1 text-xs font-light mt-2 uppercase relative rounded-sm bg-[#ea580c] p-1 text-white hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">What We Provide <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
							<path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
						  </svg>
						  </button>
					</div>
				</div>
			  </div>
			</section>
			  </div>
	</div>
  	<!-- We Are Plus Impact Section End-->

	<!-- Our Services Start  -->
    <div class="container my-12 mx-auto md:px-6">
    
    <section class="mb-32">
      <div class="flex flex-wrap items-center">
        <div class="mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:mb-0 lg:w-4/12">
			<p class="uppercase text-[#ea580c] text-xs font-md mb-2">Provided Services</p>
          <h2 class="mb-6 text-xl font-md">
           Services of the company
          </h2>
  
          <p class="mb-12text-neutral-600 dark:text-neutral-200 text-xs">
            Lorem ipsum dolor sit amet consesit ante elit habitanestibuluhabitant sit ante
 elit habitant augue varius tellusuhabitant sit anteelit habitant augue varius tellus.uhabitant sit anteelit habitant augue varius tellus.
          </p>
        </div>
  
        <div class="mb-md-0 mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:w-8/12">
          <div class="flex flex-wrap">

			<div class="mb-3 w-full shrink-0 grow-0 basis-auto md:w-6/12 lg:px-3">
				<div class="flex">
				  <div class="block rounded-lg bg-white p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
					
						<svg class="w-7 h-7 mb-1 text-[#ea580c] bg-[#FDF0E8] rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z" />
						  </svg>
						  
						<h5 class="mb-2 text-md  font-medium leading-tight text-neutral-800 dark:text-neutral-50">Streamlined Workforce Solutions</h5>
					  <p class="mb-4 text-xs text-neutral-600 dark:text-neutral-200">
						We simplify employee management. As a company, we handle payroll, benefits, and rules, making it easier for businesses.
					  </p>
				  </div>
				</div>
			  </div>

			  <div class="mb-3 w-full shrink-0 grow-0 basis-auto md:w-6/12 lg:px-3">
				<div class="flex">
				  <div class="block rounded-lg bg-white p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
					
						<svg class="w-7 h-7 mb-1 text-[#ea580c] bg-[#FDF0E8] rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
						  </svg>
						  
						<h5 class="mb-2 text-md  font-medium leading-tight text-neutral-800 dark:text-neutral-50">Integrated Growth Solutions</h5>
					  <p class="mb-4 text-xs text-neutral-600 dark:text-neutral-200">
						Our solutions help companies expand globally hassle-free. We handle employment details, letting companies focus on their main goals while working worldwide.
					  </p>
				  </div>
				</div>
			  </div>

			  <div class="mb-3 w-full shrink-0 grow-0 basis-auto md:w-6/12 lg:px-3">
				<div class="flex">
				  <div class="block rounded-lg bg-white p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
					
						<svg class="w-7 h-7 mb-1 text-[#ea580c] bg-[#FDF0E8] rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
						  </svg>
						  
						<h5 class="mb-2 text-md  font-medium leading-tight text-neutral-800 dark:text-neutral-50">Talent Matchmaking</h5>
					  <p class="mb-4 text-xs text-neutral-600 dark:text-neutral-200">
						We're good at finding talented workers from all over the world. We help businesses find the perfect match for their needs, making it easier to hire skilled workers.
					  </p>
				  </div>
				</div>
			  </div>

			  <div class="mb-3 w-full shrink-0 grow-0 basis-auto md:w-6/12 lg:px-3">
				<div class="flex">
				  <div class="block rounded-lg bg-white p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
					  <svg class="w-7 h-7 mb-1 text-[#ea580c] bg-[#FDF0E8] rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
					  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
						</svg>
						<h5 class="mb-2 text-md  font-medium leading-tight text-neutral-800 dark:text-neutral-50">Remote Support Work</h5>
					  <p class="mb-4 text-xs text-neutral-600 dark:text-neutral-200">
					  We're experts in supporting remote teams, providing tools for effective collaboration from anywhere.
					  </p>
				  </div>
				</div>
			  </div>
            
          </div>
        </div>
      </div>
    </section>
   
    </div>
	<!-- Our Services End -->

	<!-- About EOR Start -->
	<div class="container my-24 mx-auto md:px-6">
		
		<section class="mb-32 text-center">
		  <div class="flex justify-center">
			<div class="max-w-[700px] text-center">
			  <h2 class="mb-6 text-center text-3xl font-bold">
				Why is it so<u class="text-primary dark:text-primary-400">
				  great?</u>
			  </h2>
			  <p class="mb-16 text-neutral-500 dark:text-neutral-300">
				Minus fuga aliquid vero facere ducimus quos, quisquam nemo?
				Molestias ullam provident vitae error aliquam dolorum temporibus?
				Doloremque, quasi
			  </p>
			</div>
		  </div>
	  
		  <div class="grid gap-x-6 md:grid-cols-2 lg:grid-cols-4 lg:gap-x-12">
			<div class="mb-12 lg:mb-0">
			  <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
				  stroke="currentColor" class="h-6 w-6">
				  <path stroke-linecap="round" stroke-linejoin="round"
					d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
				</svg>
			  </div>
			  <h5 class="mb-4 text-lg font-bold">Support 24/7</h5>
			  <p class="text-neutral-500 dark:text-neutral-300">
				Laudantium totam quas cumque pariatur at doloremque hic quos quia
				eius. Reiciendis optio minus mollitia rerum labore
			  </p>
			</div>
	  
			<div class="mb-12 lg:mb-0">
			  <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
				  stroke="currentColor" class="h-6 w-6">
				  <path stroke-linecap="round" stroke-linejoin="round"
					d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
				</svg>
			  </div>
			  <h5 class="mb-4 text-lg font-bold">Safe and solid</h5>
			  <p class="text-neutral-500 dark:text-neutral-300">
				Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam
				aspernatur odio soluta, quisquam dolore animi
			  </p>
			</div>
	  
			<div class="mb-12 md:mb-0">
			  <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
				  stroke="currentColor" class="h-6 w-6">
				  <path stroke-linecap="round" stroke-linejoin="round"
					d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
				</svg>
			  </div>
			  <h5 class="mb-4 text-lg font-bold">Extremely fast</h5>
			  <p class="text-neutral-500 dark:text-neutral-300">
				Enim cupiditate, minus nulla dolor cumque iure eveniet facere
				ullam beatae hic voluptatibus dolores exercitationem
			  </p>
			</div>
	  
			<div class="mb-12 md:mb-0">
			  <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
				  stroke="currentColor" class="h-6 w-6">
				  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
				  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
				</svg>
			  </div>
			  <h5 class="mb-4 text-lg font-bold">Live analytics</h5>
			  <p class="text-neutral-500 dark:text-neutral-300">
				Illum doloremque ea, blanditiis sed dolor laborum praesentium
				maxime sint, consectetur atque ipsum ab adipisci
			  </p>
			</div>
		  </div>
		</section>
	
	</div>
	<!-- About EOR End -->

	<!-- Recently Blogs Start  -->
	<section class="text-gray-600 body-font">
		<div class="text-center mx-auto w-96">
			<p class="text-[#E66B1C] uppercase text-xs">Articles Section</p>
			<h3 class="text-2xl text-gray-900 mb-2 mt-3">RECENTLY BLOG POSTS</h3>
			<p class="text-xs font-thin">Lorem ipsum dolor sit amet consesit ante elit habitanestibuluhabitant sit ante
				elit habitant augue varius tellus.</p>
		</div>
		<div class="container px-5 py-12 mx-auto">
		  <div class="flex flex-wrap -m-4">
			<div class="p-4 md:w-1/3">
			  <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
				<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg" alt="blog">
				<div class="p-6">
				  <h2 class="text-sm font-semibold text-gray-900 mb-2">How to manage remote employees 
					effectively</h2>
				 
				  <p class="mb-3 text-sm font-light text-gray-500">Lorem ipsum dolor sit amet consectetur. Morbi tempus enunt nibh non ut placerat nec. Egestas vel nec in nisl ut rutrum in etiam posuere.</p>
				  <div class="flex justify-between flex-wrap ">
					<a class="text-xs font-normal text-gray-500 inline-flex items-center md:mb-2 lg:mb-0 uppercase">Plus Work Team
					  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path d="M5 12h14"></path>
						<path d="M12 5l7 7-7 7"></path>
					  </svg>
					</a>
					<p class="text-xs font-normal text-gray-500 md:mb-2 lg:mb-0 uppercase">18 Dec 2023</p>
				  </div>
				</div>
			  </div>
			</div>

			<div class="p-4 md:w-1/3">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
				  <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://images.unsplash.com/photo-1544006659-f0b21884ce1d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwd29ya2luZyUyMG9uJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D" alt="blog">
				  <div class="p-6">
					<h2 class="text-sm font-semibold text-gray-900 mb-2">Paying international contractors: What you need to know</h2>
				   
					<p class="mb-3 text-sm font-light text-gray-500">Lorem ipsum dolor sit amet consectetur. Morbi tempus enunt nibh non ut placerat nec. Egestas vel nec in nisl ut rutrum in etiam posuere.</p>
					<div class="flex justify-between flex-wrap ">
					  <a class="text-xs font-normal text-gray-500 inline-flex items-center md:mb-2 lg:mb-0 uppercase">Plus Work Team
						<svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
						  <path d="M5 12h14"></path>
						  <path d="M12 5l7 7-7 7"></path>
						</svg>
					  </a>
					  <p class="text-xs font-normal text-gray-500 md:mb-2 lg:mb-0 uppercase">18 Dec 2023</p>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="p-4 md:w-1/3">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
				  <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://website2021-live-e3e78fbbd3cc41f2847799-7c49c59.divio-media.com/filer_public/eb/7f/eb7fa02f-e613-486b-98cf-9e034052610e/how_to_run_an_effective_business_meeting_-_a_step-by-step_guide-min.jpg" alt="blog">
				  <div class="p-6">
					<h2 class="text-sm font-semibold text-gray-900 mb-2">Top 10 Best Employer of Record services</h2>
				   
					<p class="mb-3 text-sm font-light text-gray-500">Lorem ipsum dolor sit amet consectetur. Morbi tempus enunt nibh non ut placerat nec. Egestas vel nec in nisl ut rutrum in etiam posuere.</p>
					<div class="flex justify-between flex-wrap ">
					  <a class="text-xs font-normal text-gray-500 inline-flex items-center md:mb-2 lg:mb-0 uppercase">Plus Work Team
						<svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
						  <path d="M5 12h14"></path>
						  <path d="M12 5l7 7-7 7"></path>
						</svg>
					  </a>
					  <p class="text-xs font-normal text-gray-500 md:mb-2 lg:mb-0 uppercase">18 Dec 2023</p>
					</div>
				  </div>
				</div>
			  </div>
			
		  </div>
		  <div class="flex justify-center mt-6">
			<button type="button" class="inline-flex items-center px-6 py-2 text-xs font-medium rounded-sm hover:underline bg-gray-300">SEE ALL POSTS <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path d="M5 12h14"></path>
				<path d="M12 5l7 7-7 7"></path>
			  </svg></button>
		</div>
		</div>
	</section>
	<!-- Recently Blogs End -->

	<!-- Collaborate with us Start -->

	<!-- VALUABLE PARTNERS Start -->
	<!-- VALUABLE PARTNERS End -->

	<!-- Collaborate with us End -->

	<!-- Testimonials Start -->
	<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />

<script type="module">
  import KeenSlider from 'https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm'

  const keenSlider = new KeenSlider(
    '#keen-slider',
    {
      loop: true,
      slides: {
        origin: 'center',
        perView: 1.25,
        spacing: 16,
      },
      breakpoints: {
        '(min-width: 1024px)': {
          slides: {
            origin: 'auto',
            perView: 1.5,
            spacing: 32,
          },
        },
      },
    },
    []
  )

  const keenSliderPrevious = document.getElementById('keen-slider-previous')
  const keenSliderNext = document.getElementById('keen-slider-next')

  const keenSliderPreviousDesktop = document.getElementById('keen-slider-previous-desktop')
  const keenSliderNextDesktop = document.getElementById('keen-slider-next-desktop')

  keenSliderPrevious.addEventListener('click', () => keenSlider.prev())
  keenSliderNext.addEventListener('click', () => keenSlider.next())

  keenSliderPreviousDesktop.addEventListener('click', () => keenSlider.prev())
  keenSliderNextDesktop.addEventListener('click', () => keenSlider.next())
</script>

<section class="bg-gray-50">
	
  <div class="mx-auto max-w-[1340px] px-4 py-12 sm:px-6 lg:me-0 lg:py-12 lg:pe-0 lg:ps-8 xl:py-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:items-center lg:gap-16">
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
		<p class="text-[#E66B1C] uppercase text-xs text-center mb-6">Testimonials</p>
        <h2 class="uppercase text-xl font-medium text-gray-900">
			here what our clients say
        </h2>

        <p class="mt-4 text-gray-700 text-xs font-light">
			Lorem ipsum dolor sit amet consesit ante elit habitanestibuluhabitant sit ante
			sit ante eelit habitant augue varius tellus.
        </p>

        <div class="hidden lg:mt-8 lg:flex lg:gap-4 text-center">
          <button
            aria-label="Previous slide"
            id="keen-slider-previous-desktop"
            class="rounded-full border border-gray-900 p-3 text-gray-600 transition hover:bg-gray-600 hover:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 rtl:rotate-180"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"
              />
            </svg>
          </button>

          <button
            aria-label="Next slide"
            id="keen-slider-next-desktop"
            class="rounded-full border border-gray-900 p-3 text-gray-600 transition hover:bg-gray-600 hover:text-white"
          >
            <svg
              class="h-5 w-5 rtl:rotate-180"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 5l7 7-7 7"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="-mx-6 lg:col-span-2 lg:mx-0">
        <div id="keen-slider" class="keen-slider">
			
          <div class="keen-slider__slide">
            <blockquote
              class="flex  flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
            >
          
                <div class="">
                  <p class="text-sm font-normal text-gray-900">“The best Service Choice”</p>

                  <p class="mt-4  text-xs font-light text-gray-700">
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure sint amet occaecat cupidatat non proident
                  </p>
				  <div class="flex gap-2 mt-4">
					<img class="h-10 w-10 rounded-full" src="https://media.vanityfair.com/photos/650095a4a5dad6d330c01de2/4:3/w_1648,h_1236,c_limit/elon-musk-amber-heard.jpg" alt="">
					<div class="text-xs font-light">
						<p class="font-bold">Michael Scott</p>
						<p>CEO at Webflow Agency</p>
					</div>
				</div>
                </div>
              
            </blockquote>
          </div>

		  <div class="keen-slider__slide">
            <blockquote
              class="flex  flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
            >
          
                <div class="">
                  <p class="text-sm font-normal text-gray-900">“The best Service Choice”</p>

                  <p class="mt-4  text-xs font-light text-gray-700">
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure sint amet occaecat cupidatat non proident
                  </p>
				  <div class="flex gap-2 mt-4">
					<img class="h-10 w-10 rounded-full" src="https://media.vanityfair.com/photos/650095a4a5dad6d330c01de2/4:3/w_1648,h_1236,c_limit/elon-musk-amber-heard.jpg" alt="">
					<div class="text-xs font-light">
						<p class="font-bold">Michael Scott</p>
						<p>CEO at Webflow Agency</p>
					</div>
				</div>
                </div>
              
            </blockquote>
          </div>

		  <div class="keen-slider__slide">
            <blockquote
              class="flex  flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
            >
          
                <div class="">
                  <p class="text-sm font-normal text-gray-900">“The best Service Choice”</p>

                  <p class="mt-4  text-xs font-light text-gray-700">
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure sint amet occaecat cupidatat non proident
                  </p>
				  <div class="flex gap-2 mt-4">
					<img class="h-10 w-10 rounded-full" src="https://media.vanityfair.com/photos/650095a4a5dad6d330c01de2/4:3/w_1648,h_1236,c_limit/elon-musk-amber-heard.jpg" alt="">
					<div class="text-xs font-light">
						<p class="font-bold">Michael Scott</p>
						<p>CEO at Webflow Agency</p>
					</div>
				</div>
                </div>
              
            </blockquote>
          </div>

		  <div class="keen-slider__slide">
            <blockquote
              class="flex  flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
            >
          
                <div class="">
                  <p class="text-sm font-normal text-gray-900">“The best Service Choice”</p>

                  <p class="mt-4  text-xs font-light text-gray-700">
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure sint amet occaecat cupidatat non proident
                  </p>
				  <div class="flex gap-2 mt-4">
					<img class="h-10 w-10 rounded-full" src="https://media.vanityfair.com/photos/650095a4a5dad6d330c01de2/4:3/w_1648,h_1236,c_limit/elon-musk-amber-heard.jpg" alt="">
					<div class="text-xs font-light">
						<p class="font-bold">Michael Scott</p>
						<p>CEO at Webflow Agency</p>
					</div>
				</div>
                </div>
              
            </blockquote>
          </div>

		  <div class="keen-slider__slide">
            <blockquote
              class="flex  flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
            >
          
                <div class="">
                  <p class="text-sm font-normal text-gray-900">“The best Service Choice”</p>

                  <p class="mt-4  text-xs font-light text-gray-700">
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure sint amet occaecat cupidatat non proident
                  </p>
				  <div class="flex gap-2 mt-4">
					<img class="h-10 w-10 rounded-full" src="https://media.vanityfair.com/photos/650095a4a5dad6d330c01de2/4:3/w_1648,h_1236,c_limit/elon-musk-amber-heard.jpg" alt="">
					<div class="text-xs font-light">
						<p class="font-bold">Michael Scott</p>
						<p>CEO at Webflow Agency</p>
					</div>
				</div>
                </div>
              
            </blockquote>
          </div>
          
        </div>
      </div>
    </div>

    <div class="mt-8 flex justify-center gap-4 lg:hidden">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-gray-900 p-3 text-gray-600 transition hover:bg-gray-600 hover:text-white"
      >
        <svg
          class="h-5 w-5 -rotate-180 transform"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </button>

      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-gray-900 p-3 text-gray-600 transition hover:bg-gray-600 hover:text-white"
      >
        <svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </button>
    </div>
  </div>
</section>
	<!-- Testimonials End -->

	<!-- Start Your Free Trial Section Start -->
	<section class="bg-white dark:bg-gray-900"> 
        <div class="py-8 px-2 mx-auto max-w-screen-xl sm:py-16 lg:px-4 w-screen">
            <div class="mx-auto max-w-screen-sm text-center w-screen">
                <h2 class="mb-4 text-3xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white"> Explore Our Services with a Free Trial</h2>
                <p class="mb-6 text-xs font-light text-gray-500 dark:text-gray-400">Take the first step towards efficiency, innovation, and success with our [Product/Service]. We're excited to offer you a free trial so you can experience the impact firsthand.</p>
				
            </div>
			<div class="flex justify-center mt-6">
				<button type="button" class="inline-flex items-center px-6 py-2 text-xs text-gray-100 font-medium rounded-sm hover:underline bg-[#ea580c] uppercase">GEt Started <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path d="M5 12h14"></path>
					<path d="M12 5l7 7-7 7"></path>
				  </svg></button>
			</div>
        </div>
    </section>
	<!-- Start Your Free Trial Section End -->
	
	  <style>
		.bgImg{
		  background-image: url('../images/heroimg.png');
		background-size: cover;
		background-position: center;
		
		}
		
	  </style>
	  <script>
			document.addEventListener('DOMContentLoaded', function () {
  const openModalButton = document.getElementById('openModalButton');
  const videoModal = document.getElementById('videoModal');

  openModalButton.addEventListener('click', function () {
    videoModal.classList.remove('hidden');
  });

  const closeModalButton = document.getElementById('closeModalButton');
  closeModalButton.addEventListener('click', function () {
    videoModal.classList.add('hidden');
  });
});

	  </script>
</Base>