---
import Base from "../layouts/Base.astro";
---

<Base>
	<div class="bgImg">
		  <div class="lg:mx-auto sm:mx-6 max-w-2xl py-32 sm:py-48 lg:py-56 relative lg:top-[-120px] sm:top-[-100px]">
			<div class="sm:mb-8 sm:flex sm:justify-center ">
			  <p class="text-[#ea580c] font-semibold text-center"> Step into the world of PLUS WORK</p>
			</div>
			<div class="text-center">
			  <h1 class="text-4xl font-bold tracking-tight text-gray-100 sm:text-5xl">Empowering Remote Excellence</h1>
			  <p class="mt-6 text-sm leading-6 text-gray-400">Let our Remote Worker Solutions be your gateway</p>
			  <p class=" text-sm leading-6 text-gray-400">to a new dimension of professional fulfillment.</p>
			  <p class=" text-sm leading-6 text-gray-400">   Welcome to a world where hiring is an art, and your success is our masterpiece.</p>
			</div>
		  </div>
		
	  </div>
	
	
	  <style>
		.bgImg{
		  background-image: url('../images/heroimg.png');
		background-size: contain;
		background-position: center;
		
		}
		
	  </style>
</Base>