---
import Base from "../layouts/Base.astro";
---

<Base>
	<section class="text-gray-600 body-font">
		<div class="container px-1 py-24 mx-auto flex flex-wrap">
		  <div class="lg:w-1/4 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden bg-dark">
			<img alt="feature" class="object-cover object-center h-full w-full" src="https://dummyimage.com/460x500">
		  </div>
		  <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-3/4 lg:pl-12 lg:text-left text-center">
			
<div class="mb-6 w-full">
<form >   
    <div class="w-full">
		<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 " placeholder="What position are you looking for ?" required>
       
    </div>
	</div>

	<div class="flex justify-between mt-3">
		<div class="order-first">
			<p class="text-md font-medium text-gray-900 align-middle">7 Jobs</p>
		</div>
		<div class="order-last">
			<select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2 ">
				  <option selected>Filter By</option>
				  <option value="US">United States</option>
				  <option value="CA">Canada</option>
				  <option value="FR">France</option>
				  <option value="DE">Germany</option>
			</select>
		</div>
	</div>


</form>
  </div>

  <div class="w-full p-6 bg-white rounded-lg shadow border border-neutral-900 border-opacity-5 justify-start items-start gap-6 inline-flex">
	<img class="w-[90px] h-[53px] relative rounded" src="https://via.placeholder.com/90x53" />
	<div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
	  <div class="self-stretch h-[91px] flex-col justify-start items-start gap-1 flex">
		<div class="w-[688px] py-0.5 justify-start items-center gap-[163px] inline-flex">
		  <div class="justify-start items-center gap-3 flex">
			<div class="w-[348px] text-zinc-600 text-base font-medium font-['Wix Madefor Text'] leading-normal tracking-tight">Media, Creative</div>
		  </div>
		  <div class="h-6 justify-end items-center gap-2 flex">
			<div class="w-5 h-5 relative"></div>
			<div class="text-gray-500 text-sm font-medium font-['Wix Madefor Text'] leading-normal tracking-tight">5 min ago</div>
		  </div>
		</div>
		<div class="w-[511px] justify-start items-center gap-3 inline-flex">
		  <div class="text-slate-900 text-xl font-semibold font-['Wix Madefor Text'] leading-[27px] tracking-tight">Senior UX/UI Designer</div>
		  <div class="px-1.5 py-0.5 bg-orange-400 bg-opacity-10 rounded-[3px] justify-center items-center gap-1 flex">
			<div class="text-orange-500 text-xs font-medium font-['Wix Madefor Text'] leading-[18px] tracking-tight">New post</div>
		  </div>
		</div>
		<div class="py-0.5 justify-center items-center gap-6 inline-flex">
		  <div class="justify-start items-center gap-1.5 flex">
			<div class="w-4 h-4 relative"></div>
			<div class="text-gray-500 text-sm font-medium font-['Wix Madefor Text'] leading-normal tracking-tight">Myanmar</div>
		  </div>
		  <div class="justify-start items-center gap-1.5 flex">
			<div class="w-4 h-4 relative"></div>
			<div class="text-gray-500 text-sm font-medium font-['Wix Madefor Text'] leading-normal tracking-tight">Full time</div>
		  </div>
		  <div class="justify-start items-center gap-1 flex">
			<div class="w-4 h-4 relative"></div>
			<div class="text-gray-500 text-sm font-medium font-['Wix Madefor Text'] leading-normal tracking-tight">50-55k</div>
		  </div>
		</div>
	  </div>
	  <p  class="mt-4  text-slate-900 text-sm font-light font-['Wix Madefor Text'] leading-relaxed tracking-tight">Learn new skills on the job, - Promotion opportunities after the probation period based on the performance.Evaluate user requirements in collaboration with project team...</p>

	</div>
  </div>

  
			


<nav aria-label="Page navigation example">
	<ul class="flex items-center -space-x-px h-8 text-sm">
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
		  <span class="sr-only">Previous</span>
		  <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
		  </svg>
		</a>
	  </li>
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
	  </li>
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
	  </li>
	  <li>
		<a href="#" aria-current="page" class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
	  </li>
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
	  </li>
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
	  </li>
	  <li>
		<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
		  <span class="sr-only">Next</span>
		  <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
		  </svg>
		</a>
	  </li>
	</ul>
  </nav>
 
  
		  </div>
		</div>
	  </section>
</Base>